In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mt

In [2]:
df = pd.read_csv("tmdb-movies.csv")

In [3]:
df

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [5]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [6]:
df = df[['budget','release_year','original_title','cast','genres','revenue','runtime']]

In [7]:
df

,budget,release_year,original_title,cast,genres,revenue,runtime
0,150000000,2015,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,1513528810,124
1,150000000,2015,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,378436354,120
2,110000000,2015,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,295238201,119
3,200000000,2015,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,2068178225,136
4,190000000,2015,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,1506249360,137
...,...,...,...,...,...,...,...
10861,0,1966,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Documentary,0,95
10862,0,1966,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,Action|Adventure|Drama,0,176
10863,0,1966,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Mystery|Comedy,0,94
10864,0,1966,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Action|Comedy,0,80
10865,19000,1966,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Horror,0,74

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   budget          10866 non-null  int64
 1   release_year    10866 non-null  int64
 2   original_title  10866 non-null  object
 3   cast            10790 non-null  object
 4   genres          10843 non-null  object
 5   revenue         10866 non-null  int64
 6   runtime         10866 non-null  int64
dtypes: int64(4), object(3)
memory usage: 594.4+ KB

In [9]:
sorted_df_budget = df.sort_values(by = 'budget')

In [10]:
sorted_df_budget = sorted_df_budget[sorted_df_budget['budget']>10000]

In [11]:
sorted_df_budget[:50]

,budget,release_year,original_title,cast,genres,revenue,runtime
4836,10400,2012,Head Over Heels,Nigel Anthony|Ruth Rayyah McCaul,Family|Animation|Comedy|Romance,0,10
7277,12000,1972,Pink Flamingos,Divine|David Lochary|Mary Vivian Pearce|Mink S...,Comedy,6000000,93
7447,15000,2007,Paranormal Activity,Katie Featherston|Micah Sloat|Mark Fredrichs|A...,Horror|Mystery,193355800,86
6459,16398,2005,Star Wreck: In the Pirkinning,Samuli Torssonen|Atte Joutsen|Timo Vuorensola|...,Science Fiction|Action|Comedy,0,103
3785,17000,2011,Bellflower,Evan Glodell|Jessie Wiseman|Tyler Dawson|Rebek...,Action|Drama|Romance,101236,106
10865,19000,1966,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Horror,0,74
3247,20000,2008,Tomb Raider: Ascension,Anna Tyrie|Philip Goldacre|Peter Wear|Ava Hunt...,Action|Fantasy,0,60
10538,22500,1986,Mala Noche,Doug Cooeyate|Tim Streeter|Sam Downey|Nyla McC...,Drama,0,78
9559,23000,1988,Hollywood Chainsaw Hookers,Gunnar Hansen|Linnea Quigley|Jay Richardson|Mi...,Comedy|Horror,0,75
7781,25000,2007,In Search of a Midnight Kiss,Scoot McNairy|Sara Simmonds|Brian McGuire,Comedy|Drama|Romance,0,90
2449,25000,1999,The Blair Witch Project,Heather Donahue|Michael C. Williams|Joshua Leo...,Horror|Mystery,248000000,81
9777,25000,1974,Female Trouble,Divine|Mary Vivian Pearce|Mink Stole|Edith Mas...,Comedy|Crime,0,97
9623,25710,1987,Bad Taste,Terry Potter|Pete O'Herne|Craig Smith|Mike Min...,Action|Comedy|Horror|Science Fiction,0,91
4192,27000,1994,Clerks,Brian O'Halloran|Jeff Anderson|Jason Mewes|Kev...,Comedy,3151130,92
2207,30000,2010,Catfish,Megan Faccio|Melody C. Roscher|Ariel Schulman|...,Documentary,3045943,87
9877,30000,1962,Carnival of Souls,Candace Hilligoss|Frances Feist|Sidney Berger|...,Horror|Mystery,0,78
10160,30000,1960,The Little Shop of Horrors,Jackie Joseph|Mel Welles|Jack Nicholson|Leola ...,Comedy,0,70
2227,30000,2010,Howl,James Franco|Jon Hamm|Mary-Louise Parker|Treat...,Drama,617000,84
1871,31192,2009,Down Terrace,Robert Hill|Robin Hill|Julia Deakin|David Scha...,Drama|Action|Comedy,10000,89
9419,33000,1991,Begotten,Brian Salzberg|Donna Dempsey|Stephen Charles B...,Fantasy|Horror,0,78
8958,35000,1982,Basket Case,Kevin Van Hentenryck|Terri Susan Smith|Beverly...,Comedy|Horror,0,91
4176,40000,2002,The Kid Stays in the Picture,Robert Evans|Eddie Albert|Francis Ford Coppola...,Documentary,1434436,93
10701,45000,1965,"Faster, Pussycat! Kill! Kill!",Tura Satana|Haji|Lori Williams|Sue Bernard|Stu...,Action|Crime,0,83
3798,45202,2011,Life in a Day,Cindy Baer|Moica|Caryn Waechter|Drake Shannon,Documentary|Drama,225861,95
5878,50000,2013,Jack the Giant Killer,Ben Cross|Jane March|Jamie Atkins|Vicki Glover...,Action|Fantasy,0,87
7685,50000,2007,The Signal,Anessa Ramsey|Justin Welborn|AJ Bowen|Scott Po...,Horror|Action|Thriller|Science Fiction,249905,103
7185,50000,2004,Eating Out,Rebekah Kochan|Ryan Carnes|Scott Lunsford|Jim ...,Comedy,0,90
6486,50000,2005,The Call of Cthulhu,Matt Foyer|John Bolen|Ralph Lucas|Chad Fifer|S...,Horror|Thriller|Fantasy,0,47
9006,60000,1998,Pi,Sean Gullette|Mark Margolis|Ben Shenkman|Pamel...,Mystery|Drama|Thriller,3221152,84
8923,60000,1982,Vincent,Vincent Price,Animation|Drama|Fantasy,0,6
10673,60000,1970,The Wizard of Gore,Ray Sager|Judy Cler|Wayne Ratay|Phil Laurenson...,Horror,0,95
9763,60000,1974,Dark Star,Brian Narelle|Cal Kuniholm|Dre Pahich|Adam Bec...,Comedy|Science Fiction,0,83
3895,61733,2011,Blinkyâ„¢,Max Records|Jenni Fontana|James Nardini|Caroli...,Science Fiction|Horror,0,13
8422,62000,1981,Ms .45,ZoÃ« Lund|Albert Sinkys|Darlene Stuto|Abel Fer...,Horror|Crime|Drama|Thriller,0,81
9869,62000,1962,The Brain That Wouldn't Die,Jason Evers|Virginia Leith|Doris Brent|Audrey ...,Horror|Science Fiction,0,82
2229,65000,2010,Tiny Furniture,Lena Dunham|Laurie Simmons|Grace Dunham|Rachel...,Comedy,0,99
7178,65000,2004,Super Size Me,Morgan Spurlock|Daryl Isaacs|Lisa Ganjhu|Steph...,Documentary|Comedy|Drama,28575078,100
10427,65000,1967,Spider Baby,Lon Chaney Jr.|Carol Ohmart|Quinn K. Redeker|B...,Horror|Comedy|Science Fiction,0,81
9922,65000,1964,Two Thousand Maniacs!,Connie Mason|William Kerwin|Jeffrey Allen|Ben ...,Horror,0,87
10471,66500,1963,La frusta e il corpo,Daliah Lavi|Christopher Lee|Tony Kendall|Ida G...,Mystery|Horror,0,87
10392,68000,1993,"Clean, Shaven",Peter Greene|Alice Levitt|Megan Owen|Jennifer ...,Drama|Crime,0,79
3736,70000,2011,Absentia,Katie Parker|Courtney Bell|Morgan Peter Brown|...,Mystery|Horror|Thriller,0,92
6483,72000,2005,Shallow Ground,Timothy V. Murphy|Lindsey Stoddart|Rocky Marqu...,Horror,0,97
7166,74050,2004,The Heart is Deceitful Above All Things,Asia Argento|Jimmy Bennett|Jeremy Renner|Winon...,Drama,176153,98
10841,75000,1966,The Shooting,Will Hutchins|Millie Perkins|Jack Nicholson|Wa...,Western,0,82
7307,75000,1972,Dr. Phibes Rises Again,Vincent Price|Robert Quarry|Peter Cushing|Bery...,Comedy|Horror,0,89
6945,79000,2006,The Foot Fist Way,Danny McBride|Ben Best|Mary Jane Bostic|Jody H...,Comedy,245000,85
9762,85000,1974,The Texas Chain Saw Massacre,Allen Danziger|Paul A. Partain|William Vail|Te...,Horror|Thriller,30859000,83
10810,90000,1978,Attack of the Killer Tomatoes!,David Miller|George Wilson|Sharon Taylor|J. St...,Comedy|Horror|Science Fiction,0,87
7280,90000,1972,The Last House on the Left,Sandra Peabody|Lucy Grantham|David Hess|Fred J...,Horror|Thriller,0,84

# 1) Movies with the third lowest and third highest budget

In [12]:
sorted_df_budget.head()

,budget,release_year,original_title,cast,genres,revenue,runtime
4836,10400,2012,Head Over Heels,Nigel Anthony|Ruth Rayyah McCaul,Family|Animation|Comedy|Romance,0,10
7277,12000,1972,Pink Flamingos,Divine|David Lochary|Mary Vivian Pearce|Mink S...,Comedy,6000000,93
7447,15000,2007,Paranormal Activity,Katie Featherston|Micah Sloat|Mark Fredrichs|A...,Horror|Mystery,193355800,86
6459,16398,2005,Star Wreck: In the Pirkinning,Samuli Torssonen|Atte Joutsen|Timo Vuorensola|...,Science Fiction|Action|Comedy,0,103
3785,17000,2011,Bellflower,Evan Glodell|Jessie Wiseman|Tyler Dawson|Rebek...,Action|Drama|Romance,101236,106

In [13]:
sorted_df_budget.tail()

,budget,release_year,original_title,cast,genres,revenue,runtime
6570,270000000,2006,Superman Returns,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,Adventure|Fantasy|Action|Science Fiction,391081192,154
14,280000000,2015,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Action|Adventure|Science Fiction,1405035767,141
7387,300000000,2007,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Adventure|Fantasy|Action,961000000,169
3375,380000000,2011,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Adventure|Action|Fantasy,1021683000,136
2244,425000000,2010,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Adventure|Fantasy|Action|Western|Thriller,11087569,100

# 4)Movies with most and least earned revenue

In [14]:
sorted_df_revenue = df.sort_values(by = 'revenue')

In [15]:
sorted_df_revenue.tail()

,budget,release_year,original_title,cast,genres,revenue,runtime
0,150000000,2015,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,1513528810,124
4361,220000000,2012,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Science Fiction|Action|Adventure,1519557910,143
5231,200000000,1997,Titanic,Kate Winslet|Leonardo DiCaprio|Frances Fisher|...,Drama|Romance|Thriller,1845034188,194
3,200000000,2015,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,2068178225,136
1386,237000000,2009,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,Action|Adventure|Fantasy|Science Fiction,2781505847,162

In [16]:
sorted_df_revenue['revenue'].value_counts()

0             6016
12000000        10
10000000         8
11000000         7
2000000          6
              ...
15368897         1
15309302         1
15304890         1
15240456         1
2781505847       1
Name: revenue, Length: 4702, dtype: int64

In [17]:
sorted_df_revenue = sorted_df_revenue[sorted_df_revenue['revenue']>0]

In [18]:
sorted_df_revenue

,budget,release_year,original_title,cast,genres,revenue,runtime
8142,6000000,1995,Mallrats,Jason Lee|Jeremy London|Shannen Doherty|Claire...,Romance|Comedy,2,94
5067,6000000,2003,Shattered Glass,Hayden Christensen|Peter Sarsgaard|ChloÃ« Sevi...,Drama|History,2,94
1380,0,1977,The Sentinel,Chris Sarandon|Cristina Raines|Martin Balsam|J...,Horror|Drama|Mystery,3,92
10607,0,1973,Soylent Green,Charlton Heston|Edward G. Robinson|Leigh Taylo...,Mystery|Science Fiction|Thriller,3,97
3239,200000,2008,Dr. Horrible's Sing-Along Blog,Neil Patrick Harris|Nathan Fillion|Felicia Day...,Adventure|Action|Comedy|Science Fiction|Music,3,42
...,...,...,...,...,...,...,...
0,150000000,2015,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,1513528810,124
4361,220000000,2012,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Science Fiction|Action|Adventure,1519557910,143
5231,200000000,1997,Titanic,Kate Winslet|Leonardo DiCaprio|Frances Fisher|...,Drama|Romance|Thriller,1845034188,194
3,200000000,2015,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,2068178225,136
1386,237000000,2009,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,Action|Adventure|Fantasy|Science Fiction,2781505847,162

In [19]:
sorted_df_revenue.head()

,budget,release_year,original_title,cast,genres,revenue,runtime
8142,6000000,1995,Mallrats,Jason Lee|Jeremy London|Shannen Doherty|Claire...,Romance|Comedy,2,94
5067,6000000,2003,Shattered Glass,Hayden Christensen|Peter Sarsgaard|ChloÃ« Sevi...,Drama|History,2,94
1380,0,1977,The Sentinel,Chris Sarandon|Cristina Raines|Martin Balsam|J...,Horror|Drama|Mystery,3,92
10607,0,1973,Soylent Green,Charlton Heston|Edward G. Robinson|Leigh Taylo...,Mystery|Science Fiction|Thriller,3,97
3239,200000,2008,Dr. Horrible's Sing-Along Blog,Neil Patrick Harris|Nathan Fillion|Felicia Day...,Adventure|Action|Comedy|Science Fiction|Music,3,42

# 5)Average runtime of movies in the year 2006

In [20]:
df_runtime = df[df['release_year']==2006]

In [21]:
df_runtime

,budget,release_year,original_title,cast,genres,revenue,runtime
6554,50000000,2006,Underworld: Evolution,Kate Beckinsale|Scott Speedman|Tony Curran|Sha...,Fantasy|Action|Science Fiction|Thriller,111340801,106
6555,200000000,2006,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,Adventure|Fantasy|Action,1065659812,151
6556,120000000,2006,Cars,Owen Wilson|Paul Newman|Bonnie Hunt|Larry the ...,Animation|Adventure|Comedy|Family,461983149,117
6557,150000000,2006,Casino Royale,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,Adventure|Action|Thriller,599045960,144
6558,125000000,2006,The Da Vinci Code,Tom Hanks|Audrey Tautou|Ian McKellen|Paul Bett...,Thriller|Mystery,758239851,149
...,...,...,...,...,...,...,...
6957,0,2006,Deutschland. Ein SommermÃ¤rchen,Jens Lehmann|Arne Friedrich|Philipp Lahm|Torst...,Documentary,0,107
6958,0,2006,Hell,Nicolas Duvauchelle|Christiane Millet|Didier S...,Drama,0,100
6959,0,2006,How to Eat Fried Worms,Luke Benward|Hallie Kate Eisenberg|Adam Hicks|...,Comedy|Drama|Family,13022756,98
6960,2700000,2006,ì§íŒ¨,Ahn Jae-mo|Ahn Gil-kang|Jeong Seok-yong|Lee Be...,Action|Thriller,0,92
6961,0,2006,Khosla Ka Ghosla!,Anupam Kher|Boman Irani|Parvin Dabas|Tara Shar...,Comedy,0,135

In [22]:
from math import *

In [23]:
df_runtime['runtime'].mean()

101.68382352941177

# 2)Average number of words in movie titles between the year 2000-2005

In [24]:
df_title = df[(df['release_year']>1999) & (df['release_year']<2006)]

In [25]:
df_title

,budget,release_year,original_title,cast,genres,revenue,runtime
2633,93000000,2001,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Adventure|Fantasy|Action,871368364,178
2634,125000000,2001,Harry Potter and the Philosopher's Stone,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,Adventure|Fantasy|Family,976475550,152
2635,15000000,2001,Mulholland Drive,Naomi Watts|Laura Harring|Ann Miller|Dan Heday...,Thriller|Drama|Mystery,20117339,147
2636,6000000,2001,Donnie Darko,Jake Gyllenhaal|Patrick Swayze|Drew Barrymore|...,Fantasy|Drama|Mystery,1270522,113
2637,115000000,2001,"Monsters, Inc.",John Goodman|Billy Crystal|Mary Gibbs|Steve Bu...,Fantasy|Animation|Family|Comedy,562816256,92
...,...,...,...,...,...,...,...
8883,15000000,2000,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Thriller,5217498,105
8884,0,2000,Phir Bhi Dil Hai Hindustani,Juhi Chawla|Shah Rukh Khan|Johnny Lever|Shakti...,Romance|Comedy|Drama,0,168
8885,0,2000,The Tao of Steve,Donal Logue|Ayelet Kaznelson|John Hines|John H...,Comedy|Romance,0,87
8886,0,2000,George Washington,Candace Evanofski|Donald Holden|Damian Jewan L...,Drama,0,89
8887,0,2000,Is It Fall Yet?,Tracy Grandstaff|Wendy Hoopes,Animation|Comedy,0,75

In [26]:
word_count = []
for i in range(df_title.shape[0]):
    current_title = str(df['original_title'].values[i])
    current_title_list = current_title.split(' ')
    n=0
    for each_word in current_title_list:
        n = n+1
    word_count.append(n)

In [27]:
average_list = sum(word_count) / len(word_count)

In [28]:
average_list

2.784825133372851

# 3) Most common Genre for Vin Diesel & Emma Watson movies

In [29]:
df.dropna(axis="rows",how="any",subset=["cast"],inplace=True)

C:\Users\adish\AppData\Local\Temp\ipykernel_6196\3825581615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis="rows",how="any",subset=["cast"],inplace=True)

In [30]:
list_vin_diesel = []
list_emma_watson = []
for i in range(df.shape[0]):
    cast = str(df['cast'].values[i])
    cast_list = cast.split('|')
    for member in cast_list:
        if member == 'Vin Diesel':
            genre = str(df['genres'].values[i])
            genre_list = genre.split('|')
            for type in genre_list:
                list_vin_diesel.append(type)
        elif member == 'Emma Watson':
            genre = str(df['genres'].values[i])
            genre_list = genre.split('|')
            for type in genre_list:
                list_emma_watson.append(type)

In [31]:
df_vin_diesel = pd.DataFrame(list_vin_diesel, columns =['Genre'])
df_emma_watson = pd.DataFrame(list_emma_watson, columns =['Genre'])

In [32]:
df_vin_diesel.value_counts()

Genre
Action             19
Thriller           13
Crime               8
Science Fiction     8
Drama               6
Adventure           5
Animation           3
Comedy              2
Family              2
Fantasy             2
dtype: int64

In [33]:
df_emma_watson.value_counts()

Genre
Family       10
Adventure     9
Fantasy       8
Drama         4
Mystery       2
Animation     1
Comedy        1
Crime         1
Horror        1
Romance       1
Thriller      1
dtype: int64